/*
Theme Name: Volvo Malaysia
Theme URI: https://brewspark.co
Author: Brewspark
Author URI: 
Description: The theme for volvo selekt.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: my-awesome-theme
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 General
General style settings.
--------------------------------------------------------------*/
@font-face {
	font-family: 'VolvoSans';
    src: url('assets/fonts/VolvoSans.ttf');
    font-weight: normal;
}
@font-face {
	font-family: 'VolvoSans';
    src: url('assets/fonts/VolvoSansBold.ttf');
    font-weight: bold;
}
@font-face {
	font-family: 'VolvoSansLight';
    src: url('assets/fonts/VolvoSansLight.ttf');
    font-weight: lighter;
}
@font-face {
	font-family: 'VolvoBroad';
    src: url('assets/fonts/VolvoBroad.ttf');
    font-weight: normal;
}

body{
	background: #003057;
	color: #003057;
	font-family: 'VolvoSansLight', 'Helvetica Neue', Arial, sans-serif;
	font-weight: lighter;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'VolvoSans';
	font-weight: bold;
}
h1{
	font-size: 48px;
}
a{
	color: #fff;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
a:focus {
	color: #fff;
	text-decoration: none;
}
select {	
	font-size: 16px;
	padding: 5px;
}
strong{
	font-family: 'VolvoSans';
	font-weight: bold;
}
input{
	/*margin-bottom: 15px;*/
}
ul{
	padding-left: 20px;
}

.no-padding{
	padding: 0 !important;
}
.no-margin{
	margin: 0 !important;
}
.no-border{
	border: 0 !important;
}

.padder-box{
	padding: 25px;
}

.weight-normal{
	font-family: 'VolvoSans';
	font-weight: normal;
}

/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/
.navbar {
	min-height: 60px;
}
.navbar .container-fluid{
	padding-left: 30px;
	padding-right: 30px;
}
.navbar .navbar-nav {
	font-size: 16px;
}
.navbar .navbar-nav.navbar-right{
	margin-right: 0;
}
.navbar .navbar-nav li a{
	padding: 20px 0 20px 0;
	margin-right: 0;
}
.navbar .navbar-nav li a.disabled:hover{
	text-decoration: none;
}
.navbar .navbar-nav li a.disabled:focus{
	background: none;
	text-decoration: none;
}

.navbar-inverse .navbar-brand {
	position: absolute;
	left: 47%;
	top: 0;
	margin-left: -35px;
	padding-top: 2px;
}
.navbar-inverse .navbar-nav li a{
	color: rgba(255, 255, 255, 0.3);
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}
.navbar-inverse .navbar-nav li.active a{
	background-color: transparent;
	border-bottom: 2px solid #ffffff;
}

.navbar-light .navbar-nav li a{
	padding: 10px;
}
.navbar-light .navbar-nav li.active a{
	background: rgba(255, 255, 255, 0);
	border: 1px solid #fff;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}
.navbar-light .navbar-nav li.active a:hover{
	text-decoration: none;
	background: rgba(255, 255, 255, 0.3);
}
.navbar-light .navbar-nav li a:hover{
	background: none;
	text-decoration: underline;
}

/*--------------------------------------------------------------
3.0 Content
--------------------------------------------------------------*/
.site-content{
	background: url('assets/images/main-gradient-bg.png') repeat-x
	, url('assets/images/main-image-bg.jpg') 50% 100% no-repeat
	, url('assets/images/main-noise-bg.jpg');
	background-size: auto auto, 100% auto, auto auto;
	text-align: center;
}
.site-content-container{
	padding-top: 160px;
	padding-bottom: 60px;
}
.site-content-container-home{
	padding-top: 60px;
}
.site-content-container-no-gutters{
	padding-top: 60px;
	padding-bottom: 0;
}
.site-content-container-bg-top-detail{
	background: url('assets/images/main-gradient-bg.png') repeat-x
	, url('assets/images/main-image-details-bg.jpg') 50% 0 no-repeat;
	background-size: auto auto, 100% auto;
}
/* Default page */
.page-template-default .site-content-container p{
	font-size: 16px;
}
.page-template-default .site-content-container img{
	width: 100%;
	height: 100%;
}
.page-template-default .site-content-container a{
	color: #003057;
	text-decoration: underline;
}
.page-template-default .site-content-container a:hover{
	text-decoration: none;
}
.page-template-default .site-content-container a.btn{
	text-decoration: none;
}
/* Default article page */
.page-template-default .site-content-container.site-content-container-article p{
	font-size: 18px;
}
.page-template-default .site-content-container.site-content-container-article ul{
	font-size: 18px;
	line-height: 1.6em;
}
.page-template-default .site-content-container.site-content-container-article ol{
	font-size: 18px;
	line-height: 1.6em;
}

/* Font - Heading Broad */
.heading-broad{
	font-family: 'VolvoBroad';
	line-height: 1.0em;
	color: #fff;
	margin-bottom: 15px;
}
.heading-broad.heading-broad-1{
	font-size: 80px;
}

/* Section Placeholder */
section.section-placeholder{
	margin-bottom: 50px;
}
section.section-placeholder a{
	text-decoration: underline;
	font-size: 16px;
}
section.section-placeholder a.btn{
	text-decoration: none;
}
section.section-placeholder .section-heading{
	padding: 10px 20px;
}
section.section-placeholder .section-heading i.fa{	
	padding-top: 4px;
}
section.section-placeholder .section-heading h2{	
	margin: 0;
}
section.section-placeholder .section-content{
	color: #003057;
	background: #fff;
	padding-top: 45px;
	padding-bottom: 45px;
}
section.section-placeholder .section-footer{
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Section Placeholder - Style */
.section-placeholder-primary{
	color: #fff;
	background: #003057;
}

/* Result List */
.result-placeholder{
	text-align: left;
}
.result-placeholder .btn{	
	text-align: center;
}
.result-placeholder h3{
	margin: 0;
}
.result-placeholder .result-toolbar{
	text-align: left;
}
.result-placeholder .result-toolbar h4{
	margin: 0;
	display: inline;
}
.result-placeholder .result-toolbar a{
	color: #003057;
}
.result-placeholder .result-toolbar ul{
	list-style: none;
	padding: 0;	
	display: inline;
}
.result-placeholder .result-toolbar li{
	display: inline;
	margin-left: 15px;
}
.result-placeholder .result-toolbar select{
	width: 100%;
}
.result-placeholder .result-toolbar .result-toolbar-main{
	margin-bottom: 20px;
}
.result-placeholder .result-toolbar .result-toolbar-actions{
	margin-bottom: 20px;
}
.result-placeholder .result-content{
	padding: 0;
}
/*Web*/
.result-placeholder .result-list.result-list-full .result-list-heading{
	font-family: 'VolvoSans';
	font-size: 24px;
	text-align: left;	
	border: 1px solid #cad3d6;
}
.result-placeholder .result-list.result-list-full a.result-list-tab{
	display: block;
	font-size: 24px;
	color: #003057;
	text-decoration: none;
	padding: 20px 25px;
}
.result-placeholder .result-list.result-list-full a.result-list-tab:hover{
	background: #ddd;
}
.result-placeholder .result-list.result-list-full .result-list-content{
	font-family: 'VolvoSans';
	font-size: 15px;
	padding: 25px;
	border: 1px solid #cad3d6;
	border-top-width: 0;
	background: #f6f6f6;
}
.result-placeholder .result-list.result-list-full .result-list-content img{
	width: 100%;
}
.result-placeholder .result-list.result-list-full .result-list-footer{
	padding: 25px;
}
.result-placeholder .result-list.result-list-full .result-list-content .result-list-content-row{
	padding: 20px 25px;
}
.result-list-content-row.result-list-content-row-deep-grey{
	background: #f0f0f0;
}
.result-list-content-row .result-list-content-row-heading{
	font-size: 16px;
}
.result-list-content-row .result-list-content-row-content{
	font-family: 'VolvoSans';
	font-size: 18px;
}
/*Mobile*/
.result-placeholder .result-list.result-list-mobile{
	font-family: 'VolvoSans';
}
.result-placeholder .result-list.result-list-mobile .result-list-thumbnail{
	margin-left: -11%;
	margin-right: -11%;
	margin-bottom: 20px;
}
.result-placeholder .result-list.result-list-mobile .result-list-thumbnail img{
	width: 100%;
}
.result-placeholder .result-list.result-list-mobile .result-list-heading{	
	font-size: 24px;
	margin-bottom: 10px;
}
.result-placeholder .result-list.result-list-mobile .result-list-content{
	font-size: 15px;
	margin-bottom: 15px;
}
.result-placeholder .result-list.result-list-mobile .result-list-total{
	font-size: 24px;
	text-align: right;
	margin-bottom: 15px;
}
.result-placeholder .result-list.result-list-mobile .result-list-footer{
	text-align: center;
	margin-bottom: 15px;
}

/* Accordion Toggle Icons */
.accordion-toggle:after{
	font-family: 'FontAwesome';
    content: "\f077";    
    float: right;
}
.accordion-toggle.collapsed:after{
	font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}

/* Section Article */
section.section-article{
	text-align: left;
}
section.section-article a{
	color: #003057;
}
section.section-article .section-heading{
	color: #003057;
	padding: 0 0 12px 0;
	border-bottom: 1px solid #afcce3;
	margin-bottom: 25px;
}
section.section-article .section-heading h3{
	margin: 0;
}
section.section-article .section-content{
	padding: 0;
}
/* Section Article - Style */
.section-article-primary {
	color: #003057;
	background: #fff;
}

.custom-filter{
	font-size: 20px;
}
.custom-filter select{
	width: 100%;
}
.custom-filter-placeholder{
	margin-bottom: 20px;
}
.custom-filter-slider-heading{
	margin-bottom: 6px;
}
.custom-filter-slider-heading label{
	margin: 0;
}
.custom-filter-slider-descr{
	padding-left: 10px;
	font-size: 16px;
	text-align: right;
}
.custom-filter-slider-content{
	min-height: 25px;	
}
.custom-filter-placeholder .custom-filter-checkbox{
	display: inline-block;
	margin-right: 8px;
}
.custom-filter-advanced-field{
	display: none;
}

section.section-steps{
	margin-bottom: 50px;
}
section.section-steps .section-heading{
	padding-top: 20px;
	padding-bottom: 20px;
}
section.section-steps .section-heading h1{
	margin: 0;
}

.checkbox-list-placeholder a{
	font-size: 16px;	
	text-decoration: underline;
}
.checkbox-list-placeholder .checkbox-list-heading h3{
	font-weight: normal;
	display: inline;
	margin: 0;
}
.checkbox-list-placeholder .checkbox-list-content ul{
	list-style: none;
	padding: 0;
}
.checkbox-list-placeholder .checkbox-list-content ul li{
	margin-top: 40px;
}

.card-placeholder {
	margin-top: 30px;
}
.card-placeholder a{
	color: #003057;
}
.card-placeholder h4{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}
.card-placeholder img{
	width: 80px;
	height: 80px;
}
.card-placeholder p{
	font-family: 'VolvoSans';
	font-size: 20px;
	padding-top: 20px;
}

.card-brochure .card-brochure-thumbnail{
	min-height: 220px;	
	margin-bottom: 20px;
}
.card-brochure .card-brochure-thumbnail a{
	display: block;
}
.card-brochure .card-brochure-thumbnail img{
	max-width: 100%;
	max-height: 100%;
}
.card-brochure .card-brochure-heading{
	font-family: 'VolvoSans';
	font-size: 26px;
	margin-bottom: 15px;
	line-height: 28px;
	text-align: left;
}
.border-light{
	border: 1px solid #e7e7e7;
}
.card-brochure .card-brochure-total{
	font-family: 'VolvoSans';
	font-size: 22px;
	padding: 10px 10px;
	text-align: right;
	border: 1px solid #003057;
	border-left-width: 0;
	border-right-width: 0;
	margin-bottom: 10px;
}
.card-brochure-total.card-brochure-total-light{
	border-color: #e7e7e7;
}

.card-list-placeholder{
	background: #fff;
}
.card-list{
	display: block;
	padding: 25px;
	border-bottom: 1px solid #b9d2e4;
}
a.card-list:hover{
	background: #f8f8f8;
}

.column-list{
	margin-bottom: 10px;
}
.column-list .column-list-heading{
	font-size: 18px;
	margin-bottom: 15px;
}
.column-list .column-list-content{
	font-family: 'VolvoSans';
	font-size: 20px;
	margin-bottom: 15px;
}

.google-map{
	width: 100%;
	height: 450px;
}
.google-map.google-map-md{
	height: 450px;
}
.google-map.google-map-lg{
	height: 700px;
}

/*--------------------------------------------------------------
4.0 Footer
--------------------------------------------------------------*/
.site-footer {
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.site-footer-primary .social-share{
	margin-bottom: 25px;
}
.site-footer-primary .social-share a{
	margin-left: 10px;
	margin-right: 10px;
}
.site-footer-primary .country{
	margin-bottom: 30px;
}
.site-footer-primary .country img{
	margin-right: 10px;	
}
.site-footer-primary .country a{
	font-family: 'VolvoSans';
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
}
.site-footer-primary .legal {
	color: #92badb;
}
.site-footer-primary .logo-text {
	margin-top: 60px;
	margin-bottom: 60px;
}
.site-footer-secondary {
	font-size: 12px;
	border-top: 1px solid #234f73;
}
.site-footer-secondary .back-to-top{	
	margin-top: 15px;
}
.site-footer-secondary .back-to-top a{	
	color: #234f73;
}
.site-footer-secondary section{	
	margin-top: 30px;
}
.site-footer-secondary section .section-content{	
	text-align: left;
}

/*--------------------------------------------------------------
5.0 Customization
--------------------------------------------------------------*/
/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.checkbox.checkbox-custom{
	font-size: 16px;
}
.disabled{
	opacity: 0.2;
	cursor: not-allowed;
}
.checkbox.checkbox-custom label{
	padding: 0;
}
.checkbox.checkbox-custom > label{
	width: 100%;
	padding-left: 32px;
}
.checkbox.checkbox-custom input[type="checkbox"]{
	width: 25px;
	height: 25px;
	margin-top: -3px;
	margin-left: -32px;
}
.checkbox.checkbox-custom.checkbox-custom-thumbnail{
	font-size: 14px;
}
.checkbox.checkbox-custom.checkbox-custom-thumbnail input{
	margin-top: 0;
}
.checkbox.checkbox-custom.checkbox-custom-thumbnail .checkbox-custom-image{
	margin-left: -32px;
	padding-bottom: 5px;
}
.checkbox.checkbox-custom.checkbox-custom-thumbnail .checkbox-custom-image img{
	width: 100%;
}
.checkbox.checkbox-custom.checkbox-custom-thumbnail .checkbox-custom-heading h4{
	font-weight: normal;
	display: inline;
	margin: 0;
}
.checkbox.checkbox-custom.checkbox-custom-thumbnail .checkbox-custom-heading-subtitle{
	color: #929292;
}

.noUi-target{
	background: #ddd;
	border-radius: 0;
	border: 0;	
}
.noUi-horizontal{
	height: 11px;
	top: 6px;
	margin: 0 8px;
}
.noUi-horizontal .noUi-handle{
	width: 16px;
	height: 23px;
	left: -8px;
	top: -6px;
}
.noUi-handle{
	border: 1px solid #003057;
	border-radius: 0;
	cursor: pointer;
}
.noUi-handle::before{
	background: transparent;
}
.noUi-handle::after{
	background: transparent;
}
.noUi-connect{
	background: #003057;
}

.tab-pane-heading{
	font-family: 'VolvoSans';
	font-size: 24px;
	margin-bottom: 10px;
}
.tab-pane-content{
	/**/
}

ul.ul-custom{
	line-height: 1.6em;
	list-style: none;
	padding: 0;
	text-align: left; 
}
ul.ul-custom.ul-custom-bullet li:before{
	content: "\2022  "
}
ul.ul-custom.ul-custom-check{	
	font-size: 15px;
}
ul.ul-custom.ul-custom-check li{
	background: url('assets/images/icon-check.svg') no-repeat 0 0.5em;
    background-size: 17px 13px;
	padding-left: 25px;
	line-height: 2em;
}

ul.ul-col-ct-2{
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
}
ul.ul-col-ct-3{
	-webkit-column-count: 3; 
	-moz-column-count: 3; 
	column-count: 3;
}
ul.ul-col-ct-4{
	-webkit-column-count: 4; 
	-moz-column-count: 4; 
	column-count: 4;
}

.ul-custom-tabs{
	font-family: 'VolvoSansLight'
}
.ul-custom-tabs li{
	margin-bottom: 5px;
}
.ul-custom-tabs li.active a{
	color: #5c92bb;
}
.ul-custom-tabs li a{
	color: #003057;
}
.ul-custom-tabs li a:hover{
	color: #5c92bb;
	text-decoration: none;
}

.btn{
	font-family: 'VolvoSansLight';
	white-space: normal;
	margin-bottom: 10px;
}
.btn-width-max{
	width: 100%;
}
.btn-sharp{
	padding-left: 18px;
	padding-right: 18px;
	border: 1px solid #003057;
	border-radius: 0;
	font-size: 16px;	
	text-align: left;
}
.btn-sharp-primary{
	background: #fff;
	color: #003057;
}
.btn-sharp-primary:hover{
	background: #eee;
	color: #003057;
}
.btn-sharp-primary.active{
	background: #004c8a;
	color: #fff;
}
.btn-sharp-primary.active:hover{
	background: #004c8a;
	color: #fff;
}
.btn-sharp-secondary{
	background: #003057;
	color: #fff;
}
.btn-sharp-secondary:hover{
	background: #004c8a;
	color: #fff;
}
.btn-sharp-secondary:focus{
	color: #fff;
}
.btn-sharp-light{
	background: rgba(255, 255, 255, 0.3);
	color: #fff !important;
	border-color: #fff;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}
.btn-sharp-light:not([disabled]):hover{
	background: rgba(255, 255, 255, 0.0);
	color: #fff;
}
.btn-sharp-light:focus{
	color: #fff;
}

input.form-control-sharp{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
	border-radius: 0;
}
select.form-control-sharp{
	font-size: 16px;
	border-radius: 0;
}
textarea.form-control-sharp{
	font-size: 16px;
	border-radius: 0;
}

/* Icon badge pin */
.icon-badge:after{
	content: attr(data-count);
	position: absolute;
	top: 1rem;
	right: 0.4rem;
    width: 2.8rem;
    height: 1.5rem;    
    color: #fff;
}
.icon-badge-pin{
	position: relative;
	width: 35px;
	height: 45px;
	background: url('assets/images/icon-pin.svg') no-repeat;
}

/* Horizontal divider */
hr.hr-primary{
	border-top: 1px solid #afcce3;
}
hr.hr-sm{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Swipebox */
a.swipebox{
	display: block;
}
a.swipebox:hover:after{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 48, 87, 0.5) url('assets/images/icon-loupe.svg') calc(100% - 10px) calc(100% - 10px) no-repeat;
    background-size: 22px 22px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
};